.FirstSection{
    
    
    width: 100%;
    height: :600px;
    background-color: bisque;
    
    
    
}

.Mahmoud_Section{
    background-image: url(../images/scarlett_johansson_as_lucy-3840x2160.jpg);
    background-size: 100% 100%;
    height: 100%;
    
}

.SecondSec

{
    
    background-image: url(../images/full-2.jpg);
    text-align: center;
    height: 200px;
    background-size: 100% 100%;
    color: white;
    padding-top: 50px;

}


#amira{
	width: 100%;
	height: 200px;
	background-color: firebrick;
}

#Eman{
	width: 100%;
	height: 200px;
	background-color: grey;
}